{% extends 'main.html' %}

{% block title %}{{ _('Addresses') }} - Weeble{% endblock %}

{% block header %}
    <div class="container header shadow">

            <div class="clearfix">
                <button class="navbar-toggler d-lg-none float-start" type="button" data-bs-toggle="offcanvas" data-bs-target="#manmenumob" aria-controls="manmenumob" aria-expanded="false">
                    <img id="logomenu" class="logo img-fluid" src="/static/images/logo.png" />
                </button>
                <a class="float-start d-md-none" href="/"><img id="logo" class="logo img-fluid" src="/static/images/logo.png" /></a>
                <h5 class="float-end tcr">{{ticker_price}}$ BTC<br>
                <img src="https://github.com/lipis/flag-icons/raw/main/flags/4x3/gb.svg" style="border-radius:1px;" width="20" height="15" onclick="changeLang('en')">
                <img src="https://github.com/lipis/flag-icons/raw/main/flags/4x3/ru.svg" style="border-radius:1px;" width="20" height="15" onclick="changeLang('ru')">
                </h5>
            </div>
            <div id="manmenumob" class="d-lg-none offcanvas offcanvas-end" tabindex="-1">
                <div class="bg-like-header offcanvas-header">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close">
                    </button>
                    <hr style="color:white;">
                </div>
                <div class="bg-like-header offcanvas-body">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="navbar-brand mobnavcol" href="/main"><img src="https://github.com/google/material-design-icons/raw/master/src/navigation/home_work/materialiconsoutlined/24px.svg" alt="" class="d-inline-block menuitemimg mobmenuitemimg align-text-left">{{ _('Home') }}</a>
                    </li>
                    <hr style="color:white;">
                    <li class="nav-item">
                        <a class="navbar-brand mobnavcol active" href="#"><img src="https://github.com/google/material-design-icons/raw/master/src/editor/format_list_numbered/materialiconsoutlined/24px.svg" alt="" class="d-inline-block menuitemimg mobmenuitemimg align-text-left">{{ _('Addresses') }}</a>
                    </li>
                    <hr style="color:white;">
                    <li class="nav-item">
                        <a class="navbar-brand mobnavcol" href="/txs"><img src="https://github.com/google/material-design-icons/raw/master/src/action/receipt/materialiconsoutlined/24px.svg" alt="" class="d-inline-block menuitemimg mobmenuitemimg align-text-left">{{ _('Transactions') }}</a>
                    </li>
                    <hr style="color:white;">
                    <li class="nav-item">
                        <a class="navbar-brand mobnavcol" href="/send"><img src="https://github.com/google/material-design-icons/raw/master/src/communication/call_split/materialiconsoutlined/24px.svg" alt="" class="d-inline-block menuitemimg mobmenuitemimg align-text-left">{{ _('Send') }}</a>
                    </li>
                    <hr style="color:white;">
                    <li class="nav-item">
                        <a class="navbar-brand mobnavcol" href="/logout"><img src="https://raw.githubusercontent.com/google/material-design-icons/master/src/navigation/cancel/materialiconsoutlined/24px.svg" alt="" class="d-inline-block menuitemimg mobmenuitemimg align-text-left">{{ _('Logout') }}</a>
                    </li>
                    </ul>
                </div>
            </div>
    </div>
{% endblock %}


{% block main %}
<div id="main_window" class="row">
    <div id="main_menu" class="col-lg-2 d-md-none">
        <div class="manmenu">
        <nav class="nav flex-column">
            <li class="nav-item">
                <a class="navbar-brand" href="/main"><img class="menuitemimg" src="https://github.com/google/material-design-icons/raw/master/src/navigation/home_work/materialiconsoutlined/24px.svg" alt="" width="117" height="104" class="d-inline-block align-text-top"><br>{{ _('Home') }}</a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="navbar-brand active" href="/address"><img class="menuitemimg" src="https://github.com/google/material-design-icons/raw/master/src/editor/format_list_numbered/materialiconsoutlined/24px.svg" alt="" width="117" height="104" class="d-inline-block align-text-top"><br>{{ _('Addresses') }}</a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="navbar-brand" href="/txs"><img class="menuitemimg" src="https://github.com/google/material-design-icons/raw/master/src/action/receipt/materialiconsoutlined/24px.svg" alt="" width="117" height="104" class="d-inline-block align-text-top"><br>{{ _('Transactions') }}</a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="navbar-brand" href="/send"><img class="menuitemimg" src="https://github.com/google/material-design-icons/raw/master/src/communication/call_split/materialiconsoutlined/24px.svg" alt="" width="117" height="104" class="d-inline-block align-text-top"><br>{{ _('Send') }}</a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="navbar-brand" href="/logout"><img class="menuitemimg" src="https://raw.githubusercontent.com/google/material-design-icons/master/src/navigation/cancel/materialiconsoutlined/24px.svg" alt="" width="117" height="104" class="d-inline-block align-text-top"><br>{{ _('Logout') }}</a>
            </li>
        </nav>
        </div>
    </div>
    <div id="current_content" class="col-lg-10 col-md-12">
        <h5 class="centred">{{ _('Address generator') }}</h5>
        <div id="gen-addr" class="gen-addr row">
            <div class="col-6">
                <label for="count" class="form-label centred">{{ _('Amount') }}</label>
                <input type="text" id="count" class="form-control" aria-describedby="count-memo">
                <span id="count-memo" class="form-text">{{ _('Up to 100 string a time') }}</span>
            </div>
            <div class="col-4">
                <label for="script-type" class="form-label centred">{{ _('Script type') }}</label>
                <select id="script-type" class="form-select" aria-describedby="script-type-memo">
                    <option value="3">Taproot (bc1p**)</option>
                    <option value="1">Segwit-compatible (3***)</option>
                    <option selected value="2">Native Segwit (bc1q**)</option>
                </select>
                <span id="script-type-memo" data-tooltip="{{ _('P2WPKH-P2SH - pay to witness public key hash nested in pay to script hash, Segwit-compatible 3** address, uses more weight in tx and causes more expensive fees. P2WPKH(recommended) - pay to witness public key hash, address type start with bc1q**, uses less weight than old addresses and much modern. P2TR - pay to tap root, newest and powerful address type, starts with bc1p**. Uses weight less than other types. Not all wallets and exchanges support this type of script, please check carefully') }}" class="form-text">P2WPKH in P2SH, P2WPKH, P2TR</span>
            </div>
            <div id="genBtn" class="col-2 gen-addr">
                <button type="button" class="btn btn-info" style="width:100%;" onclick="generateAddrs(used=false)"><img src="https://github.com/google/material-design-icons/raw/master/src/device/settings_suggest/materialiconsoutlined/24px.svg"></button>
            </div>
            <hr>
        </div>

        <h5 class="centred">{{ _('Used addresses') }}</h5>
        <div class="mancon">
            <table class="table table-info table-striped-columns table-fix" id="5latesttx">
                <thead>
                    <tr>
                        <th>{{ _('Is Used') }}</th>
                        <th>{{ _('Address') }}</th>
                    </tr>
                </thead>
                <tbody>
                {% autoescape false %}
                    {{alladdresses}}
                {% endautoescape %}
                </tbody>
            </table>
        </div>
        {% autoescape false %}
        {{pagination}}
        {% endautoescape %}
    </div>
</div>
{% endblock %}
{% block footer %}
        <div class="h-15 row">
            <div class="col-lg-8 col-md-12 mobindlay">
                <h6 class="centred d-lg-none mobileabout"><a href="/about">{{ _('About') }}</a></h6>
            </div>
            <div class="col-lg-4 d-md-none">
                <p class="ftr">
                    Powered by Arakhis
                    <br>Based on HTML5
                </p>
            </div>
        </div>
 {% endblock %}